@model WebApplicationProject1.Models.SentEmail

@{
    ViewData["Title"] = "CreateBulk";
}

<h1>CreateBulk</h1>

<form asp-controller="SentEmail" asp-action="CreateBulk" method="post">
    <div class="form-group">
        <label for="startId">Start Id:</label>
        <input type="number" id="startId" name="startId" class="form-control" />
    </div>

    <div class="form-group">
        <label for="endId">End Id:</label>
        <input type="number" id="endId" name="endId" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="AttackId"></label>
        <input asp-for="AttackId" class="form-control" />
        <span asp-validation-for="AttackId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SentDate"></label>
        <input asp-for="SentDate" class="form-control" />
        <span asp-validation-for="SentDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Içerik"></label>
        <input asp-for="Içerik" class="form-control" />
        <span asp-validation-for="Içerik" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Konu"></label>
        <input asp-for="Konu" class="form-control" />
        <span asp-validation-for="Konu" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Gönder</button>
</form>
